<nav class="main-nav" 
[class.scrolled]="isScrolled" 
[class.light]="!isScrolled"
[class.hide-on-mobile]="isOffcanvasOpen">
    <div class="container nav-container">
      <!-- الشعار -->
      <a class="logo" routerLink="/">
        <img src="../../../assets/images/WhatsApp_Image_2026-01-31_at_7.18.53_PM-removebg-preview.png" alt="Logo" />
      </a>
  
      <!-- القائمة في الوسط -->
      <ul class="nav-links">
        <li><a routerLink="/"routerLinkActive="active-link">{{ 'NAV.HOME' | t }}</a></li>
        <li>
          <a [routerLink]="['/categrytourDetail', 'sea-tours-hurghada']">
            {{ 'CATEGORIES.SEA_TRIPS' | t }}
          </a>
        </li>
        
        <li>
          <a [routerLink]="['/categrytourDetail', 'diving']">
            {{ 'CATEGORIES.DIVING' | t }}
          </a>
        </li>
           
        <li><a routerLink="/blogs"routerLinkActive="active-link">{{ 'NAV.BLOGS' | t }}</a></li>
        <li><a routerLink="/reviews"routerLinkActive="active-link">{{ 'NAV.REVIEWS' | t }}</a></li>
        <li><a routerLink="/about"routerLinkActive="active-link">{{ 'NAV.ABOUT' | t }}</a></li>
      </ul>
      <div class="language-switcher">
        <button class="lang-btn">
          <img src="../../../assets/images/french2.jpg" alt="French"(click)="changeLang('fr')">
         </button>
        <button class="lang-btn">
          <img src="assets/images/german.jpg" alt="Arabic"(click)="changeLang('de')">
        </button>
        <button class="lang-btn">
          <img src="assets/images/brith.png" alt="English"(click)="changeLang('en')">
        </button>
      </div>
      
      <!-- Social Icons على اليمين s-->
      <div class="social-icons">
        <a href="https://www.facebook.com/profile.php?id=61579727607626" class="social-icon" data-name="facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
   
        <a href="https://www.instagram.com/sharkworlds.1/"><i class="fab fa-tiktok"></i></a>

        <a href="https://www.instagram.com/sharkworlds.1/" class="social-icon" data-name="instagram">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
      <button class="hamburger-btn" (click)="toggleOffcanvas()" [class.active]="isOffcanvasOpen">
        <span></span>
        <span></span>
        <span></span>
      </button>
    
    </div>
  </nav>


  <!-- Hamburger Button for Mobile -->

<!-- Offcanvas Menu -->
<!-- Overlay -->
<div
  class="offcanvas-overlay"
  (click)="closeOffcanvas()"
  [class.active]="isOffcanvasOpen">
</div> 

<div class="offcanvas-menu" [class.active]="isOffcanvasOpen">
  <div class="offcanvas-header">
    <a class="logo" routerLink="/" (click)="closeOffcanvas()">
      <img src="../../../assets/images/WhatsApp_Image_2026-01-31_at_7.18.53_PM-removebg-preview.png" alt="Logo" />
    </a>
    <button class="close-btn" (click)="closeOffcanvas()">&times;</button>
  </div>

  <ul class="offcanvas-links">
    <li>
      <a routerLink="/" routerLinkActive="active-link" (click)="closeOffcanvas()">
        {{ 'NAV.HOME' | t }}
      </a>
    </li>
    <li><a [routerLink]="['/categrytourDetail', 'sea-tours-hurghada']" (click)="closeOffcanvas()">Sea Trips</a></li>

    <li><a [routerLink]="['/categrytourDetail', 'diving']" (click)="closeOffcanvas()">Diving</a></li>

    <li><a routerLink="/blogs" (click)="closeOffcanvas()">{{ 'NAV.BLOGS' | t }}</a></li>
    <li><a routerLink="/reviews" (click)="closeOffcanvas()">{{ 'NAV.REVIEWS' | t }}</a></li>
    <li><a routerLink="/about" (click)="closeOffcanvas()">{{ 'NAV.ABOUT' | t }}</a></li>
  </ul>

  <!-- Social Icons in Offcanvas -->
  <div class="offcanvas-social">
    <a href="https://www.facebook.com/profile.php?id=61579727607626"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/sharkworlds.1/"><i class="fab fa-tiktok"></i></a>

    <a href="https://www.instagram.com/sharkworlds.1/" class="social-icon" data-name="instagram">
      <i class="fab fa-instagram"></i>
    </a>
  </div>
</div>

