<div class="about-container"*ngIf="aboutdataData() as about">

  <!-- ================= HERO ================= -->
  <section class="about-hero">
    <img [src]="about.imageCover"  loading="lazy" alt="About Us Image">
  </section>

  <!-- ================= ABOUT CONTENT ================= -->
<!-- ================= ABOUT CONTENT ================= -->
<section class="about-content" >
  <h2 class="section-title">{{ about.aboutTranslationDtos[0].title }}</h2>

  <p class="about-text">
    <strong>SharkWorlds</strong>
    {{ about.aboutTranslationDtos[0].description }}
  </p>

</section>

<!-- ================= STATS ================= -->
<section class="about-stats">
  <div class="stat-box">
    <i class="fas fa-smile-beam"></i>
    <h3>15K+</h3>
    <p>{{ 'STATS.HAPPY_TRAVELERS' | t }}</p>
  </div>

  <div class="stat-box">
    <i class="fas fa-route"></i>
    <h3>120+</h3>
    <p>{{ 'STATS.UNIQUE_TOURS' | t }}</p>
  </div>

  <div class="stat-box">
    <i class="fas fa-star"></i>
    <h3>4.9/5</h3>
    <p>{{ 'STATS.CUSTOMER_RATING' | t }}</p>
  </div>

  <div class="stat-box">
    <i class="fas fa-globe"></i>
    <h3>20+</h3>
    <p>{{ 'STATS.DESTINATIONS' | t }}</p>
  </div>
</section>

<!-- ================= ICONS / FEATURES ================= -->
<section class="about-icons">
  <div class="icon-box">
    <i class="fas fa-water"></i>
    <h3>{{ 'FEATURES.EXPERIENCE_TITLE' | t }}</h3>
    <p>{{ 'FEATURES.EXPERIENCE_DESC' | t }}</p>
  </div>

  <div class="icon-box">
    <i class="fas fa-headset"></i>
    <h3>{{ 'FEATURES.SUPPORT_TITLE' | t }}</h3>
    <p>{{ 'FEATURES.SUPPORT_DESC' | t }}</p>
  </div>

  <div class="icon-box">
    <i class="fas fa-shield-alt"></i>
    <h3>{{ 'FEATURES.SAFETY_TITLE' | t }}</h3>
    <p>{{ 'FEATURES.SAFETY_DESC' | t }}</p>
  </div>
</section>




</div>
